.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  padding-bottom: 4rem;
  border-radius: 1rem;
}
.container p {
      margin: 0;
}
.alertContainer{
      width: 100%;
      height:3rem;
      line-height: 3rem;
      text-align: center;
      margin-bottom: 1rem;
      
}
.formContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:3rem;
}
.formContainer button:last-child {
  grid-column: 1 / -1;
}
.formContainer input {
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 300px;
}
.formContainer button {
  padding: 1.2rem;
  border-radius: 0.5rem;
}
